.new-comment-form{
 border-radius: 5px;
}

.comment-submit{
  position: relative;
  top:5px;
  height:25px;
  width:100px;
  background-color: #f50;
  color: white;
  border: none;
  border-radius: 5px;
}

.comment-error-messages{
  color: red;
}
