
.edit-song-form{
  align-items: center;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-around;
  margin: auto;
  padding-bottom: 10vh;
  position: relative;
  top: 100px;
  width: 37vw;
  }

.edit-song-form > input {
   border-radius: 7px;
   border: none;
}


.edit-submit{
  background-color: #f50;
  position: relative;
  height: 50px;
  width: 31vw;
  padding-left: 10px;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 7px;
  border: none;

}

.edit-cancel{
  background-color: #f50;
  position: relative;
  left: 5px;
  height: 50px;
  width: 470px;
  padding-left: 10px;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 7px;
  border: none;

}
.edit-fields{
  border-radius: 5px;
}
.edit-error-messages{
  position: relative;
  color: red;
  top: 3vh;
}
