.song-container{
  position: relative;
  border: none;
  display: grid;
  grid-template-columns: 20% 33% 33%;
  align-items: center;
  flex-direction: row;
  width: 900px;

  margin-bottom: 10px;
  justify-content: space-around;
}
.play-button{
  max-width: 70px;
  border-radius: 100
}

.details-container{
  position:relative;
  bottom: 17px;
  right: 17px;
}

.song-container > img {
  width: 180px;
  height:180px;
  min-width: 180px;
  min-height: 180px;
}

.song-details > img {
  width: 180px;
  height: 180px
}

.song-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.new-song-form {
  display: flex;
  justify-content: center;
}



.songPage-container{
  position:relative;
  z-index: 0;
  left: 350px;
  padding-top:100px;
  padding-left: 100px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: flex-start;
  background-color: #FFFFFF;
  max-width: 1014px;
  width: 1014px;

}
