.song-container{

  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  margin-bottom: 10px;
  max-width:200px;
}

.song-container > img {
  width: 180px;
  height:180px;

}

.song-details > img {
  width: 180px;
  height: 180px
}

.song-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.new-song-form {
  display: flex;
  justify-content: center;
}
