.song-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray
}




.song-container > img {
  width: 180px;
  height:180px;
  padding: 40px
}

.song-details > img {
  width: 180px;
  height: 180px
}

.song-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px
}

.new-song-form {
  display: flex;
  justify-content: center;
}
