.spacers{
  width: 40vh;
}

.nav-container{
  display: flex;
  width: 65%;
  justify-content: space-between;
}

.app-icon{
  width: 15vh;
  height: 100%;
  position: relative;

}

.home-buttons{
  display:flex;
  width: fit-content;

}

.profile-button:hover, .app-icon:hover, .upload-button:hover{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
.session-links{

  color: #ccc;
  border: 1px solid blac
}

.profile-button{
  margin: 0;
  padding: 0;
  width: 10vh;
  height: 99%;
}

.upload-button{
  background-color: black;
  color: #CCCCCC;
  height:10vh;
  width: 15vh;
  font-size: 18px;
}
.session-links > a.signup-button{
  color: #ccc;
  background:#f50
}
.signup-button {
  background: '#f50'
}

a{ text-decoration: none;}

.nav-bar{
  position: fixed;
  z-index: 1;
  top: 0px;
  display: flex;
  justify-content: center;
  background: #333;
  width: 100%;
  height: 10vh;

}

.search-bar {
  background: #e5e5e5 ;
  height: 30px;
  width: 50%;
  border-radius: 10px;
  visibility: hidden;
}


.dropDown-menu{
  display: flex;
  position: relative;
  top:0;
  height: 20vh;
  width: 0;
}

.dropdownText{
  color: white;
  position: relative;
  margin: 0;
  padding:0;

}

.logoutButton{
  position: relative;
  width: 75%;
  height: 25%;
  bottom: 0.5vh;
  border-radius: 5px;
  font-size: 18px;
  background-color: #f50;
  color: white;
  border: none;
}
.break{
  position: relative;
  width: 99%;
  padding-left:0;
  padding-right:0;
  margin-left: 0;
  margin-right:0;
}

.profile-dropdown{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  position: absolute;
  z-index: 1;
  background: #333;;
  left: -8vh;
  top: .25vh;
  height: 22vh;
  width: 18vh;
  margin-top: 0;
}

.test-div, .some-div{
  display: flex;
  flex-direction: column;
  padding:0;
  height: 100%;
  width:fit-content;
}
